<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401045210364-k27v7jt81qrg3v11l058j12bnfbvi4om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401045210364-k27v7jt81qrg3v11l058j12bnfbvi4om</string>
	<key>API_KEY</key>
	<string>AIzaSyDPu1RObJyWMTVuhOrTiMxc3dJA5RTe0T4</string>
	<key>GCM_SENDER_ID</key>
	<string>401045210364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.Tavernier.Test</string>
	<key>PROJECT_ID</key>
	<string>creditcardapptbn</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcardapptbn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401045210364:ios:7bbe5f5680b24c33730379</string>
	<key>DATABASE_URL</key>
	<string>https://creditcardapptbn-default-rtdb.firebaseio.com</string>
</dict>
</plist>